@font-face {
  font-family: "Roboto";
  src: local("Roboto");
  src: url(../fonts/Roboto-Regular.ttf);
}
/* roboto-serif-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ 
       url("../fonts/Roboto-Regular.woff") format("woff"), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url("../fonts/Roboto-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* roboto-serif-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ 
       url("../fonts/Roboto-Bold.woff") format("woff"), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url("../fonts/Roboto-Bold.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}      
/* philosopher-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Philosopher.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Philosopher.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ 
       url("../fonts/Philosopher.woff") format("woff"), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url("../fonts/Philosopher.ttf") format("truetype"), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

html {
  box-sizing: border-box;
  background-color: #ffe2b0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000;
}
img {
  max-width: 100%;
  height: auto;
}
/* Header starts */
.header {
  padding-bottom: 20px;
  position: relative;
}
.header__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header__item {
  margin-right: 100px;
  font-weight: bold;
}
.header__item:last-child {
  margin-right: 0;
}
.header__item-link {
  text-decoration: none;
  color: #000;
  transition: all .2s;
}
.header__item-link:hover,
.header__item-link:focus,
.header__item-link:active{
  opacity: .75;
  font-size: 20px;
}
.header__burger{
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}
.burger__line{
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
}
.burger__line-first{
  top: 0;
}
.burger__line-second{
  top: 50%;
  transform: translateY(-50%);
}
.burger__line-third{
  bottom: 0;
}
/* Header ends */
/* About styles start */
.about{
  height: 640px;
  position: relative;
  background: url(../img/background.jpg) no-repeat center;
  background-size: cover;
  margin-bottom: 20px;
}
.about__block{
  height: 190px;
  width: 420px;
  position: absolute;
  top: 54%;
  right: 20%;
  background: linear-gradient(180deg, rgba(244, 213, 178, 0.8) 0%, rgba(234, 156, 65, 0.8) 100%);
  padding: 15px;
}
.about__border{
  height: 160px;
  width: 390px;
  border: #000 1px solid;
  padding: 17px 28px 0 28px;
}
.about__title{
  font-family: "Philosopher";
  font-size: 30px;
  margin-bottom: 9px;
}
.about__desc{
  font-size: 12px;
}
/* About styles end */
/* Description styles start */
.description{
  margin-bottom: 20px;
}
.description__icon-box{
  text-align: center;
  margin-bottom: 20px;
}
.description__icon-box_pic{
  margin-right: 76px;
}
.description__icon-box_pic:last-child{
  margin-right: 0;
}
.description__text-box{
  width: 1000px;
  margin: 0 auto;
}
.descripton__title{
  font-family: "Philosopher";
  font-size: 96px;
  text-align: center;
}
.descripton__span{
  color: #f15b40;
}
.descripton__desc{
  text-align: center;
}
/* Description styles end */
/* Maps styles start */
.map{
  margin-bottom: 20px;
}
.map__title{
  font-family: "Philosopher";
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}
.map__wrapper{
  position: relative;
  padding-top: 56.25%;
}
.map__item{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Maps styles end */
/* Footer styles start */
.footer{
  height: 70px;
}
.line{
  width: 1024px;
  border:0;
  border-top: 1px solid #999999;
  margin: 0 auto 20px auto;  
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__item {
  margin-right: 100px;
  font-weight: bold;
}
.footer__item:last-child {
  margin-right: 0;
}
.footer__item-link {
  text-decoration: none;
  color: #000;
  transition: all .2s;
}
.footer__item-link:hover,
.footer__item-link:focus,
.footer__item-link:active{
  opacity: .75;
  font-size: 20px;
}
/* Footer styles end */
@media screen and (max-width: 1060px){
  .description__icon-box_pic {
    margin-right: 30px;
  }
.description__text-box {
  width: 900px;
  }
.line {
  width: 924px;
  }
}
@media screen and (max-width: 960px){
  .about__block{
    right: 10%;
  }
.description__text-box {
  width: 744px;
  }
.description__icon-box_pic {
  height: 200px;
  width: 200px;
  }
.descripton__title {
  font-size: 76px;
  }
.line {
  width: 766px;
  }
}
@media screen and (max-width: 767px){
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .header__logo{
    margin: 0;
  }
  .header__nav{
    position: fixed;
    top: 0;
    right:-100%;
    height: 100vh;
    width: 50%;
    background-color: #ffe2b0;
    padding: 75px;
    z-index: 10;
    transition: 1s all linear;
  }
  .header__item{
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .header__item:last-child{
    margin-bottom: 0;
  }
  .header__item-link{
    font-size: 24px;
    line-height: 24px;
  }
  .header__burger{
    display: block;
  }
  .burger__line{
    transition: 1s all;
  }
  .burger_active{
    z-index: 11;
  }
  .burger_active .burger__line-first{
    transform: translateY(13px) rotate(-45deg);
  }
  .burger_active .burger__line-second{
    display: none;
  }
  .burger_active .burger__line-third{
    transform: translateY(-13px) rotate(45deg);
  }
  .header__nav_active{
    right: 0;
  }
  .about {
    height: 440px;
  }
  .about__block{
    top: 45%;
  }
  .description__text-box {
    width: 544px;
  }
  .description__icon-box_pic {
    height:160px;
    width: 160px;
    margin-right: 20px;
  }
  .descripton__title {
    font-size: 56px;
  }
  .line {
    width: 549px;
  }
  .footer__item {
    margin-right: 70px;}
  .footer__item:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 550px){
  .about {
    height: 390px;
  }
  .about__block {
    height: 200px;
    width: 320px;
    right: 0;
    padding: 10px;
  }
  .about__border {
    height: 180px;
    width: 300px;
    padding: 17px 14px 0 14px;
  }
  .about__title {
    font-size: 22px;
  }
  .description__icon-box{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .description__icon-box_pic{
    height:200px;
    width: 200px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .description__icon-box_pic:last-child{
    margin-bottom: 0;
  }
  .description__text-box {
    width: 320px;
    padding: 10px;
  }
  .descripton__title {
    font-size: 36px;
  }
  .descripton__desc {
    font-size: 14px;
  }
  .line {
    width: 320px;
  }
  .footer__list {
    flex-direction: column;
    padding-left: 105px;
  }
  .footer__item {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}